<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Multi Environment Example</title>
        <link rel="stylesheet/less" href="{{ STATIC_URL }}less/bootstrap.less" type="text/css" media="screen" />
	<style type="text/css" media="screen">
	  body { padding-top: 60px; }
	</style>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/less-1.3.0.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="nav-collapse">
                        <a class="brand" href="/">Django Multi. Env.</a>
                        <ul class="nav">
                            <li><a href="{% url order_home %}">Orders</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li><a href="#">{{ environment.label }}</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Environment <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for env_key, env in environments.items %}
                                        <li>
                                            <a href="{% url change_environment env_key %}?next=/order">
                                                {{ env.label }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% if messages %}
               <section id="alerts">
                   <div class="row">
                       <div class="span12">
                           {% for message in messages %}
                           <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                               <button class="close" data-dismiss="alert">×</button>
                               {{ message }}
                           </div>
                           {% endfor %}
                       </div>
                   </div>
               </section>
            {% endif %}
            <section id="environment">
                <div class="page-header">
                    <h2>Current Environment: {{ environment.label }}</h2>
                </div>
                {% block content %}{% endblock %}
            </section>
        </div>
    </body>
</html>
