<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Multi Environment Example</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" media="screen" />
	<style type="text/css" media="screen">
	  body { padding-top: 60px; }
          button.close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
	</style>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Django Multi. Env.</a>
                    <ul class="nav">
                        <li><a href="">Admin</a></li>
                        <li><a href="{% url order_home %}">Orders</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% if messages %}
               <section id="alerts">
                   <div class="row">
                       <div class="span12">
                           {% for message in messages %}
                           <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
                               <button class="close" data-dismiss="alert">×</button>
                               {{ message }}
                           </div>
                           {% endfor %}
                       </div>
                   </div>
               </section>
            {% endif %}
            <section id="environment">
                <div class="page-header">
                    <h2>Current Environment: {{ environment.label }}</h2>
                </div>
                {% block content %}{% endblock %}
            </section>
        </div>
    </body>
</html>
